.paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message {
    display: block;
    margin-top: 25px;
    font-weight: bold;
    color: red;
}

.infoMessages {
    justify-content: left;
    font-style: italic;
    color: red;
    font-size: 15px;
}