.reports {
    width: 80%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding: 0;
    margin: 10px 0 !important;
    letter-spacing: 1px;
    font-size: 30px;
}